body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: #434455;
    background-color: #fff;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.link {
    color: #2E2F42;
}
.link:hover {
    color: #404BBF;
}
.button {
    cursor: pointer;
    font-family: var(--font-family);
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    background-color: #4D5AE5;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.button:hover {
    background-color: #404BBF;
}

.web {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
span {
    color: #2E2F42;
}
.main-title-box {
    width: 1440px;
    height: 600px;
    background-color: #2E2F42;
}
.main-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}