body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}

/* header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header .container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}

.logo-span {
    color: #2e2f42;
}
.navigation-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    padding: 0;
}


.link {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin: 0;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link.active {
    position: relative;
}
.link.active::after {
    content: "";
    width: 100%;
    height: 5px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404BBF;
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 24px;
    padding-left: 0;
    padding-right: 15px;
    gap: 40px;
}
.address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus,
.address-link:hover, .address-link:focus, .link.active {
    color: #404BBF;
}
.link:hover::after {
    
    
}
/* endheader */

/* hero */
.hero-section {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(
	to bottom, 
	rgba(46, 47, 66, 0.7)
    rgba(46, 47, 66, 0.7)),
	url();
    margin: 0 auto;

}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto 48px;
}
.hero-button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4D5AE5;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    border: none;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
.features {
    display: flex;
    gap: 24px;
}

.features-list {
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-item:not(:last-child){
    margin-right: 24px;
}

.features-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: calc((100% - 24px * 3)/4);
}

.feature-icon-box {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}
.features-icon {
    
}

.features-text {
    font-family: inherit;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.box-team {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team {
    font-family: inherit;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.img {
    display: block;
}

.team-card {
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.team-members {
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    color: #2e2f42;
}

.team-job-title {
    font-family: inherit;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    padding-top: 8px;
}
.social-links-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
}
 
.icon {
    fill: #fff;
  }

.social-links-item:hover {
    background-color: #404BBF;
}

.portfolio {
    font-family: inherit;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item {
   
}
.card-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
}
.portfolio-services {
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-describes {
    font-family: inherit;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* footer */

.footer-box {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-box .container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-logo-span {
    color: #f4f4fd;
}
.footer-text {
    font-family: inherit;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-social {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
}

.footer-text-social {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    
}
.footer-social-links {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
}
.footer-social-links-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #4D5AE5;
        border-radius: 50%;
}

.footer-social-links-item:hover {
    background-color: #31D0AA;
}